# For, if functions

Functions in Python. A function is a set of statements that take inputs, do some specific computation and produces output. These functions are called user defined function

In [3]:
 ## If conditions and for loops
    
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

even_sum = 0
odd_sum = 0
for i in lst:
    if i%2==0:
        even_sum = even_sum+i
    else:
        odd_sum = odd_sum+i
print(even_sum,odd_sum)

56 64

In [4]:
'''
Syntax
def funcname(parameter1,parameter2,...):
    function body
'''

'\nSyntax\ndef funcname(parameter1,parameter2,...):\n    function body\n'

In [6]:
def add(num1,num2):
    return num1+num2

In [7]:
add(5,7)

12

In [8]:
add(7.8,3.6)

11.4

In [9]:
add(.8,3)

3.8

In [10]:
def add_lst(lst):
    sum1 = 0
    for i in lst:
        print(i)
        sum1 = sum1+int(i)
    return sum1

In [12]:
add_lst([2,4,6,8,10])

2
4
6
8
10

30

In [21]:
input_num=list(input("Enter the list : "))

Enter the list : 1234567

In [23]:
input_num  # give all the values together

['1', '2', '3', '4', '5', '6', '7']

In [22]:
add_lst(input_num)

1
2
3
4
5
6
7

28

In [24]:
def print_name():
    print('Hello Sudip Chakrabarty')

In [25]:
print_name()

Hello Sudip Chakrabarty

In [26]:
def print_name(name):
    return name

In [27]:
print(print_name('Sudip'))

Sudip

In [31]:
def print_name():
    return "Hello Sudip"

In [32]:
print_name()

'Hello Sudip'

In [37]:
def hello(name,age=20):
    print("My name is {} and age is {}".format(name,age))
          
# Keyword argument is age=20 !!

In [38]:
hello('Sudip')

My name is Sudip and age is 20

In [39]:
hello('Sudip',23)

My name is Sudip and age is 23

In [41]:
def hello(*args,**kwargs): # 1st one positional argument
    print(args)            # 2nd one keyward argument
    print(kwargs)

In [43]:
hello('Sudip','Chakrabarty','dip',age=23,dob=23)

('Sudip', 'Chakrabarty', 'dip')
{'age': 23, 'dob': 23}

In [44]:
# but if given lsit and dictionary there will be a problem which need to solved

In [45]:
lst = ['Sudip','Chakrabarty','dip']
dic_args = {'age':29,'dob':1990}

In [46]:
hello(lst,dic_args) # all values are taken as positional argument
# need to tell specifically which is keyward argument

(['Sudip', 'Chakrabarty', 'dip'], {'age': 29, 'dob': 1990})
{}

In [47]:
hello(*lst,**dic_args)

('Sudip', 'Chakrabarty', 'dip')
{'age': 29, 'dob': 1990}

In [ ]:
# now they are different